<div class="px-20 py-20 flex flex-col justify-center items-center">
    <%= form_with model: user, local: true do |f| %>
    <p>
        <% if user.errors.any? %>
            <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>
    </p>
    <p>
        <%= f.label :Email%><br/>
        <%= f.text_field :Email %>
    </p>

    <p>
        <%= f.label :Password %><br/> 
        <%= f.password_field :password %>
    </p>

    <button class="bg-pink-200 rounded-md px-3 py-2 text-sm font-medium">
        <%=f.submit%>
    </button>

    <% end %>
</div>