<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
    <thead class="bg-gray-50 dark:bg-gray-700">
        <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
            <th scope="col" class="p-4">#</th>
            <th scope="col" class="p-4">Name</th>
            <th scope="col" class="p-4">Created at</th>
            <th scope="col" class="p-4">Updated at</th>
            <th scope="col" class="p-4">Action</th>
        </tr>
    </thead>

    <tbody class="mx-2 my-2 ">
        <% @categories.each do |category| %>
            <tr class="text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                <td class="p-4"><%= category.id %></td>
                <td class="p-4"><%= category.name %></td>
                <td class="p-4"><%= category.created_at.strftime('%Y-%m-%d')%></td>
                <td class="p-4"><%= category.updated_at.strftime('%Y-%m-%d')%></td>
                <td class="flex gap-5 mt-2">
                    <%= link_to 'Edit', edit_category_path(category), class: "bg-gray-400 rounded-md px-3 py-2 text-sm text-white font-medium"%> 

                    <%= link_to  'Add Task', new_category_task_path(category), class: "border border-primary-200 bg-primary-200 text-white rounded-md px-3 py-2 text-gray-900 text-sm font-medium"%> 
                    <%= link_to 'View Tasks', category_tasks_path(category),  class: "border border-gray-500 rounded-md px-3 py-2 text-gray-900 text-sm font-medium dark:bg-white"%>
                </td>
            <tr>

        <% end %>
    </tbody>
</table>