<%= render "nav"%>
<div class="w-full px-20 py-20 flex justify-center items-center">
    <table class='table-auto w-[80%] border-collapse'>
        <thead class="bg-pink-50 text-left">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody class="mx-2 my-2 ">
            <% @categories.each do |category| %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.name %></td>
                    <td class="flex gap-5 mt-2">
                        <p class="bg-blue-200 rounded-md px-3 py-2 text-sm font-medium">
                            <%= link_to 'Edit', edit_category_path(category)%> 
                        </p>
                        <p class="bg-red-200 rounded-md px-3 py-2 text-sm font-medium">
                            <%= link_to  'Delete',category_path(category), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
                        </p>
                        <p class="bg-green-200 rounded-md px-3 py-2 text-sm font-medium">
                            <%= link_to  'Add Task', new_category_task_path(category)%> 
                        </p>
                    </td>
                <tr>

            <% end %>
        </tbody>
    </table>
</div>
