<!DOCTYPE html>
<html>
  <head>
    <title>Memento</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "dark-mode", "sidebar" %>
    <%= favicon_link_tag image_path('favicon.png') %>
    

  </head>

    <body class="bg-gradient-to-t from-emerald-300 via-transparent">
    <% if controller_name !="auth" %>
      <%= render "header"%> 
    <%end%>
    
    <%= yield %>
  </body>

</html>
