<!DOCTYPE html>
<html>
  <head>
    <title>JournalPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body class="bg-gradient-to-t from-emerald-300 via-transparent">
    <main class="container mx-auto">
      <% if controller_name !="auth" %>
        <%= render "header"%>
      <%end%>
      
      <%= yield %>
    </main>
 
  </body>
</html>
